{% block title %}
    <title>Meetings</title>
{% endblock %}

{% extends 'index.html' %}

{% block content %}
    <div class="ui container">
        <h1 class="ui header">Start Meeting</h1>
        <div class="ui inverted container segment">
            <form class="ui form" method="POST" action="{{ url_for('start_meeting') }}">
                <div class="form-group">
                    <label for="room_name">Enter Room Name:</label>
                    <input type="text" class="form-control" id="room_name" name="room_name" required>
                </div>
                <button type="submit" class="ui blue button">Start Meeting</button>
            </form>
        </div>
    </div>
{% endblock %}
